<!--The content below is only a placeholder and can be replaced.-->
<app-header [requirePersonalise]="false"></app-header>

<div class="wrapper">
  <div class="main">
    <h2 align="left">Register with UniSuper</h2>
    <p align="left">Already a member? <a href="https://memberonline.unisuper.com.au/">Login to my account</a></p>
    <form [formGroup]="registrationFormGroup">
      <div>
      <mat-form-field class="field">
          <input
            matInput
            placeholder="First name"
            value = "{{givenName$ | async}}"
            id="name"
          />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="field">
        <input
          matInput
          placeholder="My email address"
          id="email"
          formControlName="emailCtrl"
        />
      </mat-form-field>
    </div>

      <mat-form-field class="field">
        <input
          matInput
          placeholder="My password"
          id="password"
          type="password"
          formControlName="passwordCtrl"
        />
      </mat-form-field>
    </form>
    <div>
      <button id="bluebutton" mat-raised-button (click)="onClick()">
        Get Started
      </button>
    </div>
    <div>
      <button id="button" mat-raised-button (click)="onClick2()">
          <img
          height = 20px
          class="rectangle-image"
          alt="Active"
          src="assets/images/googleL.png"
        />
        Sign up with google
      </button>
    </div>
    <br>
    <p>
      By registering with UniSupe, you agree to our
      <a href="https://www.unisuper.com.au/terms-and-conditions">Terms of Service</a> and  <a href="https://www.unisuper.com.au/about-us/privacy">privacy policy</a>
    </p>

  </div>
</div>
