h3 {
  color: #369;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 150%;
  margin: 20px;
}

div{
  display: flex;

}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  justify-content: space-between;
}

.personalise {

}
