.wrapper {
  width: 800px;
  margin: 0 auto;
}

.toggle-group-style-overwrite {
  overflow: auto;
  display: block;
  white-space: normal;
}

.main {
  text-align: left;
  max-width: 400px;
}
.maingrey {
  padding: 10px;
  text-align: left;
  background:#EEE;
}
.button {
  align-items: right;
  text-align: right;
  justify-content: right;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2 {
  color: #369;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 125%;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.button-text {
  bottom: 10%;
  width: 100%;
}

.square-image {
  width: 198px;
  height: 198px;
  position: relative;
}
.square-button {
  width: 250px;
  height: 250px;
  float: left;
  position: relative;
}

.rectangle-image {
  width: 298px;
  height: 198px;
  position: relative;
}
.rectangle-button {
  width: 300px;
  height: 250px;
  float: left;
  position: relative;
}

.rcorners {
  border-radius: 25px;
  background: #ccc;
  width: 600px;
  height: 250px;
  border: 2px solid #000000;
  margin: 50px
}

.material-icons.md-48 { font-size: 48px; }
.material-icons.blue1 { color: #80bfff; }
.box {
  width: 300px;
}

.box2 {
  width: 270px;
  margin: 15px
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

#bluebutton {
  color:#fff;
  background : #369;
  width: 250px;
  font-weight: bold;
}

#bluebutton2 {
  color:#fff;
  background : #80bfff;
  width: 250px;
  font-weight: bold;
}
#bluebutton3 {
  color:#fff;
  background : #369;
  width: 100px;
  font-weight: bold;
}
#bluebutton4 {
  color:#fff;
  background : #369;
  width: 250px;
  height: 100px;
  font-weight: bold;
}