<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <header class="header">
    <h1>{{ title }}</h1>

  </header>
  <div class="main">
    <h2>Please use your email as username.</h2>
    <mat-form-field class="field">
      <input matInput placeholder="My email address" id="email" />
    </mat-form-field>

    <div class="button">
      <button mat-raised-button routerLink="/registration" routerLinkActive="active">Email me</button>
    </div>  
    <div class="button">
      <button mat-raised-button routerLink="/registration" routerLinkActive="active">Call me back</button>
    </div>  
    <div class="button">
      <button mat-raised-button routerLink="/registration" routerLinkActive="active">Getting Started</button>
    </div>  
  </div>  
</div>