<!--The content below is only a placeholder and can be replaced.-->
<app-header [requirePersonalise]="false"></app-header>
<div class="wrapper">

  <div class="main">
    <h2>Great to see you here</h2>
    <p>
      Helping the country's best and brightest prepare for an exceptional retirement is what we hae been doing since October 2000
    </p>

    <div class="images">
        <img
          width="150"
          height="150"
          src="\assets\images\low-fees.svg" />

        <img
          width="150"
          height="150"
          src="\assets\images\exclusively-for-you.svg" />

        <img
          width="150"
          height="150"
          src="\assets\images\investments.svg" />
    </div>
    <div class="box">
      <div class="elem">Low Fees</div>
      <div class="elem">Non Profit</div>
      <div class="elem">Investment Performance </div>
    </div>
    <br>
    <br>
    <p>
      We are an open fund now you can now join this exclusive fund in a coupe of simple steps
    </p>
    <br>
    <div class="images">
      <button
        id="bluebutton"
        mat-raised-button
        routerLink="/registration"
        routerLinkActive="active">
        Getting Started
      </button>
      <button
        id="bluebutton"
        mat-raised-button
        routerLink="/avatars"
        routerLinkActive="active">
        Let us help you
      </button>
    </div>
    <p align="center">Already a member? <a href="https://memberonline.unisuper.com.au/">Login to my account</a></p>
  </div>
</div>
