<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <div class="main">
      <h2>What is you lifestyle like?</h2>
      <a routerLink="/get-started" routerLinkActive="active">
      <img
        width="250"
        height="200"
        alt="Avatars"
        src="assets/images/Exercise.jpg"
      />
    </a>  
    <a routerLink="/get-started" routerLinkActive="active">
      <img
        width="250"
        height="200"
        alt="Avatars"
        src="assets/images/Exercise.jpg"
      />
    </a>     
  </div>  
</div>