
.wrapper {
  display: flex;
  flex-flow: row;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  justify-content: center;
  max-width: 600px;
}

.button {
  align-items: right;
  text-align: right;
  justify-content: right;
}

h1 {
  color: #369;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 250%;
}
h3 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 100%;
}


.column {
  width: 400px;
  justify-content: space-around;
}
.greyBox{
  background: #ccc;
  width: 180px;

}
.blueBox{
  color: #FFF;
  background: #369;
  width: 180px;
}
